*{
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    color: white;
    
}
.indice:hover{
    color: #FF0A54;
    top: -5px;
}

.indice{
    position: relative;
    margin: 50px 25px;
    transition: top ease 0.5s;
    top: 0;
    text-decoration: none;
    padding: 20px;
}
.list_contacts{
    position: relative;
    list-style: none;
    text-align: center;
    margin-top: 370px;
}
.list_contacts > li{
    margin: 50px 0px;
}
a{
    color: white;
}
.foto{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin-top: 20px;
    padding: 10px;
    border: 5px solid #FF0A54;
}
.centro > .list_name{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
}
.centro{
    margin-left: auto;
    margin-right: auto ;
    width: 80%;
    color: white;
    margin-top: 200px;
}
.text{
    margin-top: 100px;
}
.text1{
    margin-top: 120px;
}
.nome{
    color: #FF0A54;
}

.navrosa{
    position: absolute;
    width: 100px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #FF0A54;
    color: white;
}

a:hover {
    color: #243B55;
    top: -5px;
}
a{
    padding: 20px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}