*{
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}
h3{
    margin: 25px;
    color: whitesmoke;
}

#home{
    position: relative;
    color: whitesmoke;
    margin-left: 30px;
    margin-top: 10px;
    transition: top ease 0.5s;
    top: 0;
    text-decoration: none;
}
#home:hover{
    color: #FF0A54;
    top: -5px;
}

img{
    max-width: 100%;
    display: block;
    border: 5px solid #FF0A54;
    border-radius: 20px;
    padding: 10px;
}
h1{
    position: absolute;
    right: 850px;
    top: 200px;
    color: whitesmoke;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.flex >div{
    flex: 1 1 300px;
    margin: 30px;
    margin-top: 250px;
    text-align: center;
    align-items: center;
}

a{
    position: relative;
    text-decoration: none;
    transition: top ease 0.5s;
    top: 0;
    color: white;
    margin-left: 20px;
    margin-right: auto;
}
a:hover {
    color: #FF0A54;
    top: -5px;
}

#block{
    align-items: center;
    margin-top: 20px;
    top: 20px;
}
